.Meaning h3 {
  font-style: italic;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .Example {
  font-size: 16px;
  color: #85a6b1;
  font-style: italic;
  margin-top: 10px;
}
